

<div class="container">
  <div class="first-div">
<h2 class="version-history-title">Version History</h2>

    <div *ngIf="versionHistory.length > 0">
      <ul  style="list-style-type: none;">
        <li *ngFor="let version of versionHistory; let i = index" (click)="showItem(i)" class="item" [class.selected] = "i === selectedIndex">
          {{ version.timestamp | date:'medium'}}
         <p> <i *ngIf="i === 0">Current version</i></p>
        </li>
      </ul>
    </div>

  </div>
  <div class="second-div">
    <div [innerHTML]="calculateDifferences(versionHistory[selectedIndex].content, versionHistory[selectedIndex+1]?.content)"></div>
  
  </div>
</div>
